{
  "comments": false,
  "env": {
    "development": {
      "presets": ["es2015"]
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["istanbul"]
    },
    "rollup": {
      "presets": [["es2015", { "modules": false }]],
      "plugins": ["external-helpers"]
    }
  }
}
